body {
    width: 100%;
    max-width: 1900px;
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: lightslategrey;
}
#blue {
    color:blue
}
#green {
    color: green;
}
#red {
    color: red;
}
#yellow {
    color: yellow;
}
.section-one{   
    display: flex;
    justify-content: center;
    background-color: white;
}
h1 {
    display:flex;
    justify-content: center; 
    font-size: 50px;
    color: lightslategrey;
}
.section-two {
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
}
.container-one {
    max-width: 500px;
    margin: 20px;
}
.accordion-why {
    max-width: 500px;
    margin: 20px;
}
a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: white;
    text-decoration: none;}
a:hover {
    transform: scale(1.2); 
}
.img {
    max-width: 500px;
    border: 2px;
    width: 20em;
    height: 15em;
    margin: 20px;
}
.section-three {
    display:flex;
    justify-content: center;
    margin: 20px;
}
h2 {
    font-size: 30px;
}
.blue {
    background-color: lightblue;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-blue {
    background-color: blue;
    color: white;
    max-width: 150px;
    max-height: 40px;
}
h3 {
    color: black;
    font-size: 50px;
}
.green {
    background-color: lightgreen;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-green {
    background-color: green;
    color: white;
    max-width: 150px;
    max-height: 40px;
}
.red {
    background-color: pink;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.btn-red {
    background-color: red;
    color: white;
    max-width: 150px;
    max-height: 40px;
}
.yellow {
    background-color: yellow;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.yellow-card {
    width: 80%;
    max-width: 900px;
    max-height: 900px;
}
.img-cookie {
    max-width: 500px;
    border: 5px;
    border-color: white;
    width: 25em;
    height: 15em;
    margin: 20px;
}
